[submodule "FeatureManager"]
	path = FeatureManager
	url = https://github.com/TerraForged/FeatureManager.git
[submodule "Noise2D"]
	path = Noise2D
	url = https://github.com/TerraForged/Noise2D.git
[submodule "FeatureManager-fabric"]
	path = FeatureManager-fabric
	url = https://github.com/liachmodded/terraforged-featuremanager-fabric.git
